<div class="container pt-5">
  <div class="row text-center">
    <div class="col"> 
      <h4>Checkout out these games created by our members!</h4>
    </div>
  </div>

  <div class="row mt-5">
    <div *ngFor="let game of games" class="col-12 col-sm-6 col-md-4">
      <preview-card [card]="game"></preview-card>
    </div>
  </div>

</div>