<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a href="#" class="navbar-brand d-flex align-items-center">
          <span style="margin-bottom: -5px;">
              <object width="20" height="20" type="image/svg+xml" data="/assets/img/logo-square.svg">
                [G]
              </object>
          </span>
          <strong>ame Dev @ UNO</strong>
        </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let route of routes">
            <a class="nav-link"  routerLink="{{route.path}}" routerLinkActive="active">{{route.text}}</a>
          </li>
        </ul>
        <h3 class="form-inline mt-2 mt-md-0 text-light">
          Under Construction ¯\_(ツ)_/¯
        </h3>
      </div>
    </nav>
</header>