<div class="container-fluid bg-light">
    <div class="container p-5">
        <div class="row">
          <div class="col">
            <h1>Meetup</h1>
            <p>Game Dev meets weekly</p>

            <div class="row">
              <div class="col" style="max-width: 500px;">
                <preview-card></preview-card>
              </div>
              <div class="col" style="max-width: 500px;">
                <preview-card></preview-card>
              </div>
              <div class="col" style="max-width: 500px;">
                  <preview-card></preview-card>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
