<div class="container">
  <div class="row pt-5">

    <!--People-->
    <div class="col-md-6 col-m-6 p-2" *ngFor="let person of people">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="{{person.imgUrl}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title mb-0">{{person.name}}</h5>
          <h5 class="text-muted">{{person.title}}</h5>
          <p>{{person.email}}</p>
          <p class="card-text">{{person.bio}}</p>
        </div>
      </div>
    </div>
    

  </div>
</div>