<section class="jumbotron text-center">
  <div class="container">
    <img src="/assets/img/logo.svg" class="img-fluid" height="300px" alt="">

    <p class="lead text-light mt-4">
      Game Dev is a student organization at The University of New Orleans devoted to learning about
      game design and development.
    </p>
    <p>
        <button mat-raised-button class="signup" color="primary" onclick="window.location.href = 'https://docs.google.com/forms/d/e/1FAIpQLSeq7ikvf7KZodOWgRQBmofnxd14akGO5BiUz-thT4eV2T-S5Q/viewform?usp=sf_link';">Sign Up</button>
      <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
    </p>
  </div>
</section>