/* :root {
    --jumbotron-padding-y: 3rem;
  }
   */
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #000000;
    background-image: url("/assets/img/pixel-space-bg.png");
    background-size: cover;
    border-radius: 0px !important;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(3rem * 2);
      padding-bottom: calc(3rem * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

  .signup{
      font-size: 1.2em;
  }