<div #cardRoot class="card mb-4 shadow-sm" [ngStyle]="{'max-width': card.maxWidth}">
  <img *ngIf="card.imgSrc" class="card-img-top" [ngStyle]="{'height': card.imgHeight}" style="width: 100%; display: block;" [src]="card.imgSrc" data-holder-rendered="true">
  <img *ngIf="!card.imgSrc" class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" [ngStyle]="{'height': card.imgHeight}" style="width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165dd7ec426%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165dd7ec426%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.3515625%22%20y%3D%22117.9%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
  <div class="card-body">
    <p class="card-text">
      {{card.text}}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button *ngFor="let button of card.buttons" type="button" class="btn btn-sm btn-outline-secondary" (click)="button.action()">{{button.text}}</button>
      </div>
      <small class="text-muted">{{card.note}}</small>
    </div>