<div class="container-fluid bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">
          We strive to create an environment for UNO students to learn about game design and development. Our weekly
          workshops give students the chance to learn the fundamentals of game programming and art creation with
          tools used by industry today. 
        </p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li><a href="mailto:igda@uno.edu" class="text-white">igda@uno.edu</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>